body{
	width: 1200px;
	background-color: black;
	margin: 0px auto 0px auto;

}
h1{
	width: 500px;
	text-align: center;
	margin: 0px auto 0px auto;
	background-color: #de5755;
	margin-bottom: 30px;

}
.gallery{
	width: 1000px;
	background-color: #de5755;
	margin: 0px auto 0px auto;

}
.gallery img{
	width: 400px;
	margin: 20px;
}